spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ms_email_ms
    username: ${USER_DB}
    password: ${PASS_DB}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
    ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    schemas: public
    default-schema: public

  rabbitmq:
    addresses: amqps://campbell.lmq.cloudamqp.com
    username: ${RABBIT_USER}
    password: ${RABBIT_PASSWORD}
    virtual-host: eiudvsio
    ssl:
      enabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${APP_USER}
    password: ${APP_PASSWORD}
    protocol: smtp
    test-connection: false
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000

logging:
  level:
    org.springframework.mail: DEBUG
    jakarta.mail: DEBUG

server:
  port: 8080